* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px solid green;
    padding: 20px;
}

.item {
    width: 150px;
    height: 150px;
    background-color: #fb7185;
    font-weight: 700;
    color: white;
    text-align: center;
    border: 10px solid blue;
    border-radius: 10px;

    &:hover {
        background-color: blue;
        border-color: black;
        width: 200px;
        height: 200px;
        transition: 0.5s;
    }
}

@media (max-width: 768px) {
    .item-2 {
        display: none;
    }
    
}

@media print {
    .item {
        background-color: blue;
        border-color: black;
    }
}